[submodule "code/containers"]
	path = code/containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
	datalad-url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/OpenNeuroDatasets/ds003521.git
	datalad-id = 42f1cc5d-e444-4438-9997-e70c3c96d5a4
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds003521
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = https://github.com/templateflow/templateflow.git
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = https://github.com/templateflow/templateflow.git
